<html lang="en">
    <head>
        <title>MONITORING BIMBINGAN SKRIPSI</title>
        <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        />
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link
        href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css"
        rel="stylesheet"/>
     
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
       <script src="https://unpkg.com/vue-select@3.0.0"></script>
       <script src="https://cdn.jsdelivr.net/npm/timeline-vuejs"></script>
        <link
        rel="stylesheet"
        href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css"
        />
        <style lang="css">
            .panel-warning{
                border-color: #5490ff;
            }
            .panel-warning>.panel-heading {
                color: #4e3a03;
                background-color: #5490ff;
                border-color: #5490ff;
            }
            .panel-primary{
                border-color: #5490ff;
            }
            .panel-primary>.panel-heading {
                color: #ffffff;
                background-color: #f77f00;
                border-color: #ff8400;
            }
            .btn-primary {
                color: #fff;
                background-color: #f77f00;
                border-color: #f77f00;
            }

            .btn-dicuss {
                color: rgb(0, 0, 0);
                background-color: #fffb00;
                border-color: #fffb00;
            }

            .btn-approve {
                color: #fff;
                background-color: #0aa128;
                border-color: #0aa128;
            }
            .panel-danger>.panel-heading {
                color: #ffffff;
                background-color: #fd3f3f;
                border-color: #ebccd1;
            }
            .btn-primary[disabled]{
                background-color: #242f38;
                border-color: #242f38;
            }
            .bold{font-weight:bold;}
            .time{position:absolute; left:-115px;}
            .timeline-wrapper {
                padding-left:80px;
                min-width: 400px;
                font-family: 'Helvetica';
                font-size: 14px;
                /*border: 1px solid #CCC;*/
            }
            .StepProgress {
                position: relative;
                padding-left: 45px;
                list-style: none;
                
                -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
                transition: 2s;
            }
            .StepProgress::before {
                display: inline-block;
                content: '';
                position: absolute;
                top: 0;
                left: 85px;
                width: 52px;
                height: 100%;
                border-left: 2px solid #CCC;
            }
            .StepProgress-item {
            
                position: relative;
                counter-increment: list;
            }
            .StepProgress-item:not(:last-child) {
                padding-bottom: 20px;
            }
            .StepProgress-item::before {
                display: inline-block;
                content: '';
                position: absolute;
                left: 40px;
                height: 100%;
                width: 10px;
            }
            .StepProgress-item::after {
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
                left: 33px;
                width: 12px;
                height: 12px;
                border: 2px solid #CCC;
                border-radius: 50%;
                background-color: #FFF;
            }
            .StepProgress-item.is-done::before {
                border-left: 2px solid green;
            }
            .StepProgress-item.is-done::after {
                /*content: "?";*/
                font-size: 10px;
                color: #FFF;
                text-align: center;
                border: 2px solid green;
                background-color: green;
            }
            .StepProgress strong {
                display: block;
            }
        </style>
    </head>
    <body>
        <!-- HEADER START -->
        <div class="container">
             <img
                src="https://drive.google.com/u/0/uc?id=1lAPkKHAJAEpjkJ5AKNXgGryOqLx28l3Z&export=download"
                alt=""
                width="100%"
                />
            </p>
            <div class="panel panel-info" style="padding: 10px;">
                <p style="text-align: center;">Aplikasi AGANESHA by Prodi Informatika</p>
                <p style="text-align: center;">KOLABORASI RISET DOSEN - MAHASISWA<br>
                <em>Pastikan koneksi internet Anda stabil dan kencang. Pada proses unggah file mungkin akan memakan waktu.</em> <br>
            </div>
        </div>
        <!-- HEADER END -->
        
        <main class="container" id="app">
            <!-- PENCARIAN BY NIM -->
            <div class="panel-group">
                <div class="panel panel-warning">
                  <div class="panel-heading">PENCARIAN</div>
                  <div class="panel-body">
                    <div class="input-group input-group-lg">
                      <input
                        v-model="nim"
                        placeholder="19.11.12xx"
                        class="form-control"
                        @keyup.enter="onClickButtonCari"
                      />
                      <span class="input-group-btn">
                        <button v-on:click="onClickButtonCari" class="btn btn-success">
                          Cari
                        </button>
                      </span>
                    </div>
                    <div style="margin-top: 10px;">
                        <p class="text-muted">
                            Petunjuk : Bila pernah menggunakan SEMAR, lakukan pencarian profil Anda menggunakan NIM.
                        </p>
                    </div>
                  </div>
                </div>
            </div>
            <!-- END OF PENCARIAN BY NIM -->
            <!-- PROFILE MHS -->
            <div class="panel-group">
                <div class="panel panel-primary">
                <div class="panel-heading">STEP 1. PROFIL MAHASISWA</div>
                <div class="panel-body">
                    <form v-on:submit.prevent="submitProfile">
                    <div class="row">
                        <div class="container-fluid">
                        <div class="form-group">
                            <label>Nama</label>
                            <input
                                type="text"
                                class="form-control"
                                v-model="profileDraft.name"
                                placeholder="Nama lengkap"
                            />
                        </div>

                        <div class="form-group">
                            <label>NIM</label>
                            <input
                                type="text"
                                v-model="profileDraft.nim"
                                placeholder="19.11.1155x"
                                class="form-control"
                            />
                        </div>

                        <div class="form-group">
                            <label>Nomor Whatsapp</label>
                            <input
                                type="text"
                                class="form-control"
                                v-model="profileDraft.whatsapp"
                                placeholder="08213454xxx"
                            />
                        </div>

                        <div class="form-group">
                            <label>Indeks Prestasi Komulatif (IPK)</label>
                            <input
                                type="text"
                                class="form-control"
                                v-model="profileDraft.ipk"
                                placeholder="8.4"
                            />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input
                                type="text"
                                class="form-control"
                                v-model="profileDraft.email"
                                placeholder="stefani@students.amikom.ac.id"
                            />
                        </div>

                        
                        </div>
                    </div>
                    </form>
                    <p class="text-muted">
                    Petunjuk : Bila baru pertama kali menggunakan GANESHA, silakan SIMPAN profil Anda.
                    </p>
                </div>
                </div>
            </div>
            <!-- END OF PROFIL MHS -->
            <!-- CATATAN HARI INI -->
            <div class="panel-group">
                <div class="panel panel-primary">
                  <div class="panel-heading">STEP 2. UNGGAH PROPOSAL</div>
                  <div class="panel-body">
                    <div class="panel-body">
                        <form v-on:submit.prevent="submitUsulan">
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label>Apa usulan judul skripsimu?</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        v-model="proposalDraft.judul"
                                        placeholder="Pemodelan Arsitektur Perangkat Lunak Streaming"
                                    />
                                </div>
                                <div class="form-group">
                                    <label>Dengan dosen siapa Anda ingin bergabung ?</label>
                                    <v-select
                                    :options="dosen"
                                    label="name"
                                    v-model="dosenTerpilih"
                                    ></v-select>
                                </div>
                                <div>
                                    <div>
                                        <label>File Proposal
                                        </label>
                                    </div>
                                    <div>
                                    <button
                                        class="btn btn-primary"
                                        v-if="(fileUrlProposal)"
                                        @click="openProposal"
                                    >
                                        <i class="fa fa-eye"></i> LIHAT FILE PROPOSAL
                                    </button>
                                </div>
                                </div>

                                <div>
                                    <div>
                                        <label>File Transkrip Nilai
                                        </label>
                                    </div>
                                    <div>

                                        <button
                                            class="btn btn-primary"
                                            v-if="(fileUrlTranskrip)"
                                            @click="openTranskrip"
                                        >
                                            <i class="fa fa-eye"></i> LIHAT FILE TRANSKRIP
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                        </form>                 
                      </div>
                  </div>
                </div>
            </div>
            <!-- END OF CATATAN HARI INI -->
            <!-- CATATAN HARI INI -->
            <div class="panel-group">
                <div class="panel panel-primary">
                  <div class="panel-heading">ULASAN</div>
                  <div class="panel-body">
                    <div class="input-group input-group-lg" style="margin-bottom: 25px;">
                        <div>
                            <label>Apa tanggapan Bp/Ibu ?</label>
                        </div>
                        <div>
                            <textarea rows="8" cols="50"
                                style="width: 100%;"
                                v-model="response"
                                placeholder="tanggapan balik dari calon dosen pembimbing"
                                class="form-control"
                                @keyup.enter=""
                            ></textarea>
                        </div>
                    </div>
                    <div>
                        <table style="width: 100%;border-spacing: 10px;">
                            <tr >

                                <td style="margin: 0px;border-spacing: 10px;padding-left: 10px;">
                                    <button class="btn btn-dicuss" style="width: 100%;margin: 5px;" @click="onClickButtonReact('diskusi')">DISKUSI DULU</button>
                                </td>
                                <td style="margin: 0px;border-spacing: 10px;padding-left: 10px;">
                                    <button class="btn btn-approve" style="width: 100%;margin: 5px;"@click="onClickButtonReact('disetujui')">SETUJU</button>
                                </td>

                                <td style="margin: 0px; border-spacing: 10px;padding-right: 10px;">
                                    <button class="btn btn-danger" style="width: 100%;margin: 5px;" @click="onClickButtonReact('ditolak')">TOLAK</button>

                                </td>
                            </tr>
                        </table>

                    </div>
                    <p class="text-muted">
                        Petunjuk : Bapak Ibu boleh mengosongkan tanggapan lalu simpan
                    </p>
                  </div>
                </div>
            </div>
            <!-- END OF CATATAN HARI INI -->
        </main>
    </body>
    <script>
        // var nimToBeSearch =<?=nim_from_server?>;
        var nimToBeSearch = "12.13.1112";
        Vue.use(VueLoading);
        Vue.component("v-select", VueSelect.VueSelect);
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
        });
        
        var key = "AKfycbzK9z1kT_oiNO6Jkp-wQVTA7Tqb1HAZqeCmx0yospbHAgb7VKdhQ8UC-9Gmt8CjUxJu";
        var baseUrl = "https://script.google.com/macros/s/" + key + "/exec";
        var app = new Vue({
            el:"#app",
            data:{
                nim:"12.13.1112",
                dosen: [{ name: "Arif AKbarul", email: "arif.akbarul@amikom.ac.id" },{ name: "Windha Mega", email: "windha@amikom.ac.id" }],
                dosenTerpilih: { name: "", email: "" },
                profileDraft: {
                    name: "",
                    nim: "",
                    email: "",
                    judul: ""
                },
                profile: {
                    name: "",
                    nim: "",
                    email: "",
                    judul: ""
                },
                proposalDraft:{judul:"",dosenTerpilih:"",fileUrlProposal:"",fileUrlTranskrip:""},
                notes:[],
                noteDraft:{kendala:"",solusi:"", feedback:""},
                response:"",
                fileProposal:"",
                fileUrlProposal:"",
                fileTranskrip:"",
                fileUrlTranskrip:"",
                checkdata:false
            },
            components: {
                Loading: VueLoading,
            },
            methods:{
                onClickButtonReact,
                submitFileTranskrip,
                submitFileProposal,
                submitUsulan,
                submitProfile,
                onClickButtonCari,
                submitCatatan,
                fetchDosen,
                handleFileProposal(event) {
                    this.fileProposal = event.target.files[0];
                    console.log("file proposal "+this.fileProposal)
                },
                openProposal: function () {
                    window.open(app.fileUrlProposal, "_blank");
                },
                handleFileTranskrip(event) {
                    this.fileTranskrip = event.target.files[0];
                    console.log("file transkrip "+this.fileTranskrip)
                },
                openTranskrip: function () {
                    window.open(app.fileUrlTranskrip, "_blank");
                },
                onClickButtonSimpanPermanen
            },
            mounted(){
                this.onClickButtonCari();
            }
        })
        function onClickButtonReact(e){
            console.log(e);
            var url = baseUrl + "?action=503";
            var dataTobeUpload = {
                nim:this.profileDraft.nim,
                response:this.response,
                reaction:e
            }
            console.log(dataTobeUpload);
            let loader = this.$loading.show({
                    loader: "dots",
             });
            axios({
                    method: "post",
                    url: url,
                    data: dataTobeUpload,
                    headers: {
                        "Content-Type": "text/plain",
                    },
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods":"GET,PUT,POST,DELETE,PATCH,OPTIONS"
             }).then(function(response){
                console.log(response);
                loader.hide();
                Toast.fire({
                    icon: "success",
                    title: "Tanggapan berhasil diperbarui",
                 });
             }).catch(function (response) {
                    console.log(response);
                    loader.hide();
            });


        }
        /*
                    {timestamp:"9/2/2022", masalah:"lorem ipsum",solusi:"dep amit slira mark mov da wen", feedback:"yes"},
                    {timestamp:"9/2/2022", masalah:"lorem ipsum 2",solusi:"dep amit slira mark mov da wen 2", feedback:"yes"},
                    {timestamp:"9/2/2022", masalah:"lorem ipsum 3",solusi:"dep amit slira mark mov da wen 3", feedback:"yes"} 
        */
        function validateEmail(mail) 
        {
            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
            {
                return (true)
            }
                return (false)
        }
        function submitUsulan(){
            if( this.proposalDraft.judul === ""){
                Swal.fire("Ops!", "Judul masih kosong", "error");
                return;
            }
            if( this.dosenTerpilih === ""){
                Swal.fire("Ops!", "Dosen masih kosong", "error");
                return;
            }
            // if( this.proposalDraft.fileUrlProposal === ""){
            //     Swal.fire("Ops!", "Proposal belum diunggah", "error");
            //     return;
            // }
            // if( this.proposalDraft.fileUrlTranskrip === ""){
            //     Swal.fire("Ops!", "Transkrips belum diunggah", "error");
            //     return;
            // }
            var urlProfile = baseUrl + "?action=505";
            var dataTobeUpload = {
                nim:this.profileDraft.nim,
                judul:this.proposalDraft.judul,
                namaDosenTerpilih:this.dosenTerpilih.name,
                emailDosenTerpilih:this.dosenTerpilih.email
            }
            console.log(dataTobeUpload);
            Swal.fire({
                title: "Data akan disimpan?",
                text: "Periksa dengan teliti",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Ya, Submit",
            }).then((result) => {
                if (result.isConfirmed) {
                let loader = this.$loading.show({
                    loader: "dots",
                });
                axios({
                    method: "post",
                    url: urlProfile,
                    data: dataTobeUpload,
                    headers: {
                    "Content-Type": "text/plain",
                    },
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods":"GET,PUT,POST,DELETE,PATCH,OPTIONS"
                })
                .then(function (response) {
                    //handle success
                        loader.hide();
                        var _profil = response.data.data;
                        console.log(_profil);
                        if (_profil) {
                            Toast.fire({
                                icon: "success",
                                title: "Profil berhasil diperbarui",
                                });
                        } else {
                            Toast.fire({
                                icon: "error",
                                title: "Profil gagal diperbarui",
                                });
                        }
                    })
                .catch(function (response) {
                        console.log(response);
                        loader.hide();
                });
                }
            });
        }
        function submitProfile(){
            if( this.profileDraft.name === ""){
                Swal.fire("Ops!", "Nama masih kosong", "error");
                return;
            }
            if( this.profileDraft.nim === ""){
                Swal.fire("Ops!", "Nim masih kosong", "error");
                return;
            }
            if( this.profileDraft.email === "" && !validateEmail(this.profileDraft.email)){
                Swal.fire("Ops!", "Email tidak valid", "error");
                return;
            }
            if( this.profileDraft.whatsapp === ""){
                Swal.fire("Ops!", "Whatsapp masih kosong", "error");
                return;
            }
            if( this.profileDraft.ipk === ""){
                Swal.fire("Ops!", "IPK masih kosong", "error");
                return;
            }
            var urlProfile = baseUrl + "?action=501";
            var dataTobeUpload = {
                nim:this.profileDraft.nim,
                nama:this.profileDraft.name, 
                email:this.profileDraft.email,
                whatsapp:this.profileDraft.whatsapp,
                ipk:this.profileDraft.ipk
            }
            console.log(dataTobeUpload);
            Swal.fire({
                title: "Data akan disimpan?",
                text: "Periksa dengan teliti",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Ya, Submit",
            }).then((result) => {
                if (result.isConfirmed) {
                let loader = this.$loading.show({
                    loader: "dots",
                });
                axios({
                    method: "post",
                    url: urlProfile,
                    data: dataTobeUpload,
                    headers: {
                    "Content-Type": "text/plain",
                    },
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods":"GET,PUT,POST,DELETE,PATCH,OPTIONS"
                })
                .then(function (response) {
                    //handle success
                        loader.hide();
                        var _profil = response.data.data;
                        console.log(_profil);
                        if (_profil) {
                            Toast.fire({
                                icon: "success",
                                title: "Profil berhasil diperbarui",
                                });
                        } else {
                            Toast.fire({
                                icon: "error",
                                title: "Profil gagal diperbarui",
                                });
                        }
                    })
                .catch(function (response) {
                        console.log(response);
                        loader.hide();
                });
                }
            });
        }
        function onClickButtonCari(){    
             
            let loader = this.$loading.show({
            loader: "dots",
            });
            var urlProfile = baseUrl + "?action=103&nim=" + nimToBeSearch;
            console.log(urlProfile);
            axios
                .get(urlProfile)
                .then((result)=>{
                        loader.hide();
                        console.log(result.data.data);
                        if(result.data.data.length>0){
                            var _profile=result.data.data.shift();
                            console.log(_profile)

                            this.profileDraft.name = _profile.nama;
                            this.profileDraft.nim = _profile.nim;
                            this.profileDraft.email = _profile.email;
                            this.profileDraft.whatsapp = _profile.whatsapp;
                            this.profileDraft.ipk = _profile.ipk;

                            this.proposalDraft.judul=_profile.judul;
                            this.dosenTerpilih.name=_profile.pembimbing_nama;
                            this.dosenTerpilih.email=_profile.pembimbing_email;

                            this.fileUrlProposal = _profile.proposal;
                            this.fileUrlTranskrip = _profile.transkrip;

                            this.response = _profile.catatan;

                            // this.dosenTerpilih.name = _profile.pembimbing_nama;
                            // this.dosenTerpilih.email = _profile.pembimbing_email;
                        }
                    })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                    loader.hide();
                })
        }
        function submitFileTranskrip() {
            if (!this.fileTranskrip) {
                Swal.fire("Ops!", "File transkrip belum dipilih", "error");
                return;
            }
            let loader = this.$loading.show({
                loader: "dots",
            });
            const qs = new URLSearchParams({
                filename: this.fileTranskrip.name,
                mimeType: this.fileTranskrip.type,
                action: 504,
                nim: this.profileDraft.nim,
                jenis: "transkrip",
            });
            const url = baseUrl +"?"+qs;
            const fr = new FileReader();
            fr.readAsArrayBuffer(this.fileTranskrip);
            fr.onload = (f) => {
            axios({
                method: "post",
                url: url,
                data: JSON.stringify([...new Int8Array(f.target.result)]),
                "Access-Control-Allow-Origin": "*",
                "Access-Control-Allow-Methods":"GET,PUT,POST,DELETE,PATCH,OPTIONS"
            })
                .then(function (r) {
                app.fileUrlTranskrip = r.data.data.fileUrl;
                loader.hide();
                Swal.fire(
                    "Good job!",
                    "Kamu berhasil mengunngah transkrip",
                    "success"
                );
                })
                .then((re) => {
                    loader.hide();
                    console.log(re);
                })
                .catch((error) => {
                    loader.hide();
                    Swal.fire(
                        "Ops!",
                        "Terjadi kesalahan, mungkin nim tidak valid",
                        "error"
                    );
                });
            };
        }
        function submitFileProposal() {
            if (!this.fileProposal) {
                Swal.fire("Ops!", "File proposal belum dipilih", "error");
                return;
            }
            let loader = this.$loading.show({
                loader: "dots",
            });
            const qs = new URLSearchParams({
                filename: this.fileProposal.name,
                mimeType: this.fileProposal.type,
                action: 504,
                nim: this.profileDraft.nim,
                jenis: "proposal",
            });

            const fr = new FileReader();
            fr.readAsArrayBuffer(this.fileProposal);
            fr.onload = (f) => {
            axios({
                method: "post",
                url: baseUrl + "?" + qs,
                data: JSON.stringify([...new Int8Array(f.target.result)]),
                "Access-Control-Allow-Origin": "*",
                "Access-Control-Allow-Methods":"GET,PUT,POST,DELETE,PATCH,OPTIONS"
            })
                .then(function (r) {
                app.fileUrlProposal = r.data.data.fileUrl;
                loader.hide();
                Swal.fire(
                    "Good job!",
                    "Kamu berhasil mengunngah proposal",
                    "success"
                );
                })
                .then((re) => {
                loader.hide();
                console.log(re);
                })
                .catch((error) => {
                loader.hide();
                Swal.fire(
                    "Ops!",
                    "Terjadi kesalahan, mungkin nim tidak valid",
                    "error"
                );
                });
            };
        }
        function submitCatatan(){    
            if( this.profileDraft.name === ""){
                Swal.fire("Ops!", "Nama masih kosong", "error");
                return;
            }
            if( this.profileDraft.nim === ""){
                Swal.fire("Ops!", "Nim masih kosong", "error");
                return;
            }
            if( this.profileDraft.email === "" && !validateEmail(this.profileDraft.email)){
                Swal.fire("Ops!", "Email tidak valid", "error");
                return;
            }
            if( this.profileDraft.judul === ""){
                Swal.fire("Ops!", "Judul masih kosong", "error");
                return;
            }
            if( this.dosenTerpilih.name === "" && this.dosenTerpilih.email === ""){
                Swal.fire("Ops!", "Dosen masih kosong", "error");
                return;
            } 
            if( this.noteDraft.kendala === ""){
                Swal.fire("Ops!", "Masalah masih kosong", "error");
                return;
            } 
            if( this.noteDraft.solusi === ""){
                Swal.fire("Ops!", "Rekomendasi solusi masih kosong", "error");
                return;
            } 
            var urlNoteSubmission = baseUrl + "?action=502";
            var randomId = Math.floor(100000 + Math.random() * 900000);
            var dataTobeUpload = {
                id:randomId,
                nim:this.profileDraft.nim,
                nama:this.profileDraft.name,
                judul:this.profileDraft.judul,
                kendala:this.noteDraft.kendala, 
                solusi:this.noteDraft.solusi,
                feedback:this.noteDraft.feedback,
                email:this.profileDraft.email,
                pembimbing_nama:this.dosenTerpilih.name,
                pembimbing_email:this.dosenTerpilih.email,
                status:"PENDING"
            }
            console.log(dataTobeUpload);
            Swal.fire({
                title: "Data akan disimpan?",
                text: "Catatan akan diteruskan ke Dosen melalui Email. Cek juga Email Anda untuk melihat perkembangannya.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Ya, Submit",
            }).then((result) => {
                if (result.isConfirmed) {
                let loader = this.$loading.show({
                    loader: "dots",
                });
                axios({
                    method: "post",
                    url: urlNoteSubmission,
                    data: dataTobeUpload,
                    headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    },
                    "Access-Control-Allow-Origin": "*",
                })
                .then(function (response) {
                    //handle success
                        loader.hide();
                        var _catatan = response.data.data;
                        console.log(_catatan);
                        if (_catatan) {
                            fetchLogByNim();
                            Toast.fire({
                                icon: "success",
                                title: "Catatan berhasil disimpan",
                                });
                        } else {
                            Toast.fire({
                                icon: "error",
                                title: "Catatan gagal disimpan",
                                });
                        }
                    })
                .catch(function (response) {
                        console.log(response);
                        loader.hide();
                });
                }
            });
        }
        function fetchDosen(){
            var urlDosen = baseUrl + "?action=102";

            axios.get(urlDosen)
                .then((result)=>{
                    var _dosen  = result.data.data;
                    if(_dosen.length>0){
                        this.dosen = [];
                        _dosen.forEach((element,idx)=>{
                            this.dosen.push({name:element.nama_dosen, email:element.email_dosen});
                        })
                    }
                })
                .catch((error)=>{
                    console.log("fetch dossen error "+error)
                })
        }
        function onClickButtonSimpanPermanen(){
            Swal.fire({
                title: "Anda yakin?",
                text: "Catatan akan diteruskan ke Dosen melalui Email. Cek juga Email Anda untuk melihat perkembangannya.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Ya, Submit",
            }).then((result) => {
                if (result.isConfirmed) {
                    let loader = this.$loading.show({
                        loader: "dots",
                    });
                    var urlSubmission = baseUrl + "?action=107&nim=" + app.profileDraft.nim;
                    axios.get(urlSubmission)
                        .then((logResult)=>{
                            loader.hide();
                        })
                        .catch((error)=>{
                            loader.hide();
                            console.log("fetch dossen error "+error)
                        })
                
                }
            });
            
        }
        function fetchLogByNim(){
            var urlLogByNim = baseUrl + "?action=104&nim=" + app.profileDraft.nim;
            axios.get(urlLogByNim)
                .then((logResult)=>{
                    if(logResult.data.data.length>0){
                        renderLog(logResult.data.data)
                    }
                })
                .catch((error)=>{
                    console.log("fetch dossen error "+error)
                })
        }
        function renderLog(data){
            app.notes = [];
            data.reverse();
            data.forEach(element => {
                var tgl = new Date(element.timestamp).toDateString();
                var obj = {timestamp:tgl,
                        masalah:element.kendala,
                        solusi:element.solusi,
                        feedback:element.feedback}
                                
                app.notes.push(Object.assign({}, obj))
            });
        }
    </script>
</html>